@font-face {
  font-family: "caviar";
  src: url("./fonts/caviar_dreams/CaviarDreams.ttf");
}
@font-face {
  font-family: "Questrial";
  src: url("./fonts/questrial/Questrial-Regular.otf");
}
.App {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow:hidden;
}

